#Header{
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#home_link{
    padding-bottom: 40px;
}