<!DOCTYPE html>
<html lang="en">
<head>
    <title>Archeo Strength</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}" />
</head>
<body>
    <h1 id="Header" class="center"> Archeo Strength </h1>
    <a class="center" href="/"> Home </a><br />
    <a class="center" href="/view/bench">Bench</a>
    <a class="center" href="/view/overhead">Overhead</a>
    <a class="center" href="/view/pull-down">Pull-Down</a>
    <a class="center" href="/view/squat">Squat</a>
    <a class="center" href="/view/deadlift">Deadlift</a>

    <img class="center-image" src="{{ url_for('static', filename='images/' ~ exercise_data['exercise'][0]) ~ '.png' }}" alt="" />

    <h2 class="center" id="table_caption"> {{exercise_data['exercise'][0]}} results </h2>

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                    <th id="weight_column" scope="col">Weight</th>
                    <th id="set_one_column" scope="col">Set One</th>
                    <th id="set_two_column" scope="col">Set Two</th>
                    <th id="set_three_column" scope="col">Set Three</th>
                    <th id="date_column" scope="col">Date</th>
                    <th id="delete_column" scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
                {% for result in exercise_data['exercise'] %}
                <tr>
                    <td id="col_0-row_{{[loop.index0]}}" scope="row">{{ exercise_data['weight'][loop.index0] }}</td>
                    <td id="col_1-row_{{[loop.index0]}}" scope="row">{{exercise_data['rep_one'][loop.index0]}}</td>
                    <td id="col_2-row_{{[loop.index0]}}"scope="row">{{exercise_data['rep_two'][loop.index0]}}</td>
                    <td id="col_3-row_{{[loop.index0]}}" scope="row">{{exercise_data['rep_three'][loop.index0]}}</td>
                    <td id="col_4-row_{{[loop.index0]}}" scope="row">{{exercise_data['date'][loop.index0]}}</td>
                    
                    <td scope="row">
                        <button name="delete" type="button" class="btn btn-danger"
                         onclick="deleteData(document.getElementById('col_4-row_{{[loop.index0]}}')).innerHTML">Delete</button>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function deleteData(inputDate){

            const exercise = document.getElementById("table_caption").innerHTML.split(" ")[1];
            const exerciseDate = inputDate.textContent;
            console.log(exercise);
            console.log(exerciseDate);
            const dataIdentifier = {
                'exercise': exercise,
                'exerciseDate': exerciseDate
            };

            var xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                console.log('Post request succesful');
                window.location.reload();
            }
            xhttp.open('POST', '/delete');
            xhttp.setRequestHeader("Content-Type", "application/json");
            
            var data = JSON.stringify(dataIdentifier);
            xhttp.send(data);
};
    </script>
    
</body>
</html>